nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(221, 164, 41, 0.7);
    align-items: center;
    
    font-family: Faustina;
    font-weight: bold;
    height: 60px;
    padding-bottom: 20px;
}

.navLink{
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navLink:hover{
    font-size: 50px;
}

@media (max-width: 650px) {
  nav {
    flex-wrap: wrap;
    height: 90px;
    font-size: 30px;
  }

  .navLink:hover{
    font-size: 32px;
}
}

